.container {
  width: 80%;
  max-width: 800px;
  margin: 2rem auto;
  height: 50vh;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.watch {
  display: flex;
  gap: 1rem;
}

.box {
  height: 70px;
  width: 70px;
  color: white;
  background: seagreen;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 1rem 2rem;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
}

.start {
  border: 1px solid green;
  color: green;
}
.stop {
  border: 1px solid red;
  color: red;
}
.reset {
  border: 1px solid yellow;
  color: yellow;
}

.start:hover {
  background-color: green;
  outline: none;
  color: white;
}

.stop:hover {
  background-color: red;
  outline: none;
  color: white;
}

.reset:hover {
  background-color: yellow;
  outline: none;
  color: white;
}
